paths:
  write_dir: '/scratch/es60/ard/models/ACCESS-ESM15/ARD/'
  save_coords_dir: '/scratch/es60/ard/models/ACCESS-ESM15/ARD/coords/'
  log_dir: '/scratch/es60/ard/models/ACCESS-ESM15/ARD/logs/'
dask_cluster:
  netcdf_work: # threads per worker set to deal with https://forum.access-hive.org.au/t/netcdf-not-a-valid-id-errors/389
    n_workers: None  # Number of workers for default cluster
    threads_per_worker: 1  # threads per worker set to deal with https://forum.access-hive.org.au/t/netcdf-not-a-valid-id-errors/389
    memory_limit: None  # Default memory limit per worker
  zarr_work:
    n_workers: None  # Number of workers for default cluster
    threads_per_worker: None  # Default threads per worker
    memory_limit: None  # Default Memory limit per worker
catalog_search_query_dict:
  experiment_id: 'historical'
  source_id: 'ACCESS-ESM1-5'
  variable_id: 'chl'
  table_id: 'Omon'
  version: 'latest'
chunking_key:
  'ACCESS_ESM15_3D'
chunking:
  ACCESS_ESM15_2D: #{'chunks':{'member':1,'time':220,'j':300,'i':360}}
    chunks:
      member: 1
      time: 220
      i: 360
      j: 300
  ACCESS_ESM15_3D: #{'chunks':{'member':?,'time':?,'lev':-1,'j':-1,'i':-1}}
    chunks:
      member: 1
      time: 12
      lev: -1
      i: -1
      j: -1
  